* {
  font-family: suse;
  src: url('https://fonts.google.com/specimen/SUSE');
}
.hovereffect {
  border-radius: 25px 25px 25px 25px;
  background: linear-gradient(#30ba78 0 0) var(--hundredpercent, 0) / var(--hundredpercent, 0) no-repeat;
  transition: 0.5s, background-position 0s;
  padding: 5px;
}
.hovereffect:hover {
  --hundredpercent: 100%;
  color: white;
  border-radius: 10px 25px 10px 25px;
}
.smlmext {
  color: #fe7c3f;
}
.smlm {
  color: #fe7c3f;
}
.suse {
  color: #30ba78;
}
.smls {
  color: #2453ff;
}
.smlsext {
  color: #2453ff;
}
.companyname {
  color: #008657;
}
.liberty {
  color: #efefef;
}
.sles {
  color: #90ebcd;
}

.bottoms {
  vertical-align: middle;
  height: 50%;
  width: 50%;
  margin: 0px;
  padding: 0px;
  object-fit: contain;
}

img.animatedgif {
  --borderthickness: 5pt;
  --colors: #0000 25%,#30ba78 0;
  padding: 10px;
  background:
    conic-gradient(from 90deg  at top    var(--borderthickness) left  var(--borderthickness),var(--colors)) 0    0,
    conic-gradient(from 180deg at top    var(--borderthickness) right var(--borderthickness),var(--colors)) 100% 0,
    conic-gradient(from 0deg   at bottom var(--borderthickness) left  var(--borderthickness),var(--colors)) 0    100%,
    conic-gradient(from -90deg at bottom var(--borderthickness) right var(--borderthickness),var(--colors)) 100% 100%;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  transition: 1s;
}

img.animatedgif:hover {
  background-size: 51% 51%;
}

img.logos {
  border-radius: 10px;
}

